@mixin max-width($max-width) {
   @media only screen and (max-width:$max-width) {
      @content;
   }
}

@mixin max-min ($max-width , $min-width) {
   @media only screen and (max-width:$max-width) and (min-width:$min-width){
   @content;
   }
}