.location-section{
   height: 200px;
   background-image: url("../images/careerbgi.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center center;
}
.location__content{
   position: relative;
   padding-top: 70px;
   &::before{
      position: absolute;
      width: 238px;
      height: 75px;
      background-image: url("../images/location-bf.png");
      background-repeat: no-repeat;
      background-size: 100%;
      right: -90px;
      content: '';
   }
}
.location__title{
   font-family: 'Space Mono';
   font-style: normal;
   font-weight: 700;
   font-size: 56px;
   line-height: 100%;   
   letter-spacing: -2.5px;
   color: #FFFFFF;
   margin: 0px;
}
.lakatsya{
   margin-top: 140px;
   margin-bottom: 70px;
}
// city section begin 
.city__content{
   margin-top: 30px;
   margin-bottom: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.city__title{
   width: 100%;
   max-width: 352px;
   font-family: 'Space Mono';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 100%;
   letter-spacing: -2.14286px;
   color: #495567;
}
.city__text-box{
   width: 100%;
   max-width: 445px;
}
.city__text{
   font-family: 'Lexend Deca';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 167%;
   color: #939CAA;
}
.city__btn{
   font-family: 'Space Mono';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 167%;
   color: #FFFFFF;
   border: none;
   background-color: #FCB72B;
   padding: 14px 30px;
}



@include max-width (900px){
   .city__content{
      width: 100%;
      display: inline-block;
      margin: 0px auto;
      flex-wrap: wrap;
      text-align: center;
   }
   .city__title{
      margin: 0px auto;
      max-width: 457px;
      text-align: center;
      margin-bottom: 40px;
   }
   .city__text-box{
      margin: 0px auto;
      width: 100%;
      max-width: 573px;
      text-align: center;
   }
   .city__text{
      margin: 0px auto;
      margin-bottom: 40px;
   }
   .city__btn{
      margin: 0px auto;
      margin-bottom: 120px;
   }

   .location__content{
      position: relative;
      padding-top: 70px;
      &::before{
         position: absolute;
         width: 238px;
         height: 75px;
         background-image: url("../images/location-bf.png");
         background-repeat: no-repeat;
         background-size: 100%;
         right: -30px;
         content: '';
      }
   }
}

@include max-width (576px){
   .location__content{
      position: relative;
      padding-top: 70px;
      &::before{
         display: none;
         position: absolute;
         width: 238px;
         height: 75px;
         background-image: url("../images/location-bf.png");
         background-repeat: no-repeat;
         background-size: 100%;
         right: -30px;
         content: '';
      }
   }

   .location__title{
      text-align: center;
      margin: 0px auto;
   }

   .city__text-box{
      width: 100%;
      max-width: 311px;
   }
}
