 

.service__inner__title{  
    margin: 0; 
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #495567;
     text-align: center;
}
 .service__inner__blog{ 
  display: flex;  
  
}  
.service__inner__blog-activ{ 
 margin-bottom: 64px;

}
.service__inner__title{  
    margin: 0; 
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #495567; 
    margin-bottom: 64px;
}  
.service__inner__details{ 
 display: inline-block;
 width: 100%; 
 max-width: 730px; 
 padding: 32px 40px; 
 background-color: #F2F5F9; 
 margin-bottom: 16px;
}
.service__inner__summary{ 
 list-style-type: none;
display: flex; 
align-items: center; 
justify-content: space-between;
} 
.service__inner__subtitle{ 
     width: 100%; 
     max-width: 350px;  
     margin: 0;
     margin-right: 30px; 
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #495567;
} 
.service__inner__summary__text{  
 
margin-bottom: 24px;
display: inline-block; 
font-weight: 700;
font-size: 24px;
line-height: 117%;
color: #495567;
} 
.service__inner__text{ 
 width: 100%; 
 max-width: 650px; 
 font-weight: 400;
font-size: 15px;
line-height: 167%;
color: #495567;

}  

@media only screen and ( max-width:900px){ 
   
    .service__inner__blog{ 
    
      display: flex; 
      flex-direction: column; 
     
    } 
    .service__inner__content{ 
    
     text-align: center;
    } 
    .service__inner__details{ 
     text-align: left;
    
    }
    .service__inner__subtitle{  
      margin-right: 0; 
      margin: auto;
       margin-bottom: 50px; 
       text-align: center;
    
    }  
    .service__inner__blog{ 
     margin: 0 auto;
    
    }
    
  } 
  @media only screen and ( max-width:576px){  
    
    .service__inner__title{ 
      width: 100%; 
      max-width: 311px;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px; 
      text-align: center;
    }
    .service__inner__blog{ 
    
      display: flex; 
      flex-direction: column; 
     
    } 
    .service__inner__content{ 
    
     text-align: center;
    } 
    .service__inner__details{ 
     text-align: left;
    
    }
    .service__inner__subtitle{  
      margin-right: 0; 
      margin: auto;
       margin-bottom: 50px; 
       text-align: center;
    
    }  
    .service__inner__blog{ 
     margin: 0 auto;
    
    } 
    .service__inner__summary__text{ 
      width: 100%;
      max-width: 311px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    
    } 
    .service__inner__text{ 
      font-weight: 400;
      font-size: 15px;
      line-height: 167%;
       
    
    }
  }
  
